<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>芝山站</string>
		<key>latitude</key>
		<real>25.102135</real>
		<key>longitude</key>
		<real>121.522779</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>民權西路站</string>
		<key>latitude</key>
		<real>25.062086</real>
		<key>longitude</key>
		<real>121.5198</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>雙連站</string>
		<key>latitude</key>
		<real>25.057668</real>
		<key>longitude</key>
		<real>121.520654</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>中山站</string>
		<key>latitude</key>
		<real>25.052632</real>
		<key>longitude</key>
		<real>121.52044</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>南港展覽館站</string>
		<key>latitude</key>
		<real>25.055272</real>
		<key>longitude</key>
		<real>121.616721</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>永春站</string>
		<key>latitude</key>
		<real>25.040914</real>
		<key>longitude</key>
		<real>121.575394</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>國父紀念館站</string>
		<key>latitude</key>
		<real>25.041406</real>
		<key>longitude</key>
		<real>121.557584</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>善導寺站</string>
		<key>latitude</key>
		<real>25.04469</real>
		<key>longitude</key>
		<real>121.523363</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>忠孝新生站</string>
		<key>latitude</key>
		<real>25.041985</real>
		<key>longitude</key>
		<real>121.533029</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>忠孝復興站</string>
		<key>latitude</key>
		<real>25.041611</real>
		<key>longitude</key>
		<real>121.543799</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>劍潭站</string>
		<key>latitude</key>
		<real>25.084039</real>
		<key>longitude</key>
		<real>121.524589</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>士林站</string>
		<key>latitude</key>
		<real>25.095035</real>
		<key>longitude</key>
		<real>121.525462</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>石牌站</string>
		<key>latitude</key>
		<real>25.115269</real>
		<key>longitude</key>
		<real>121.515078</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>敦化站</string>
		<key>latitude</key>
		<real>25.04149</real>
		<key>longitude</key>
		<real>121.550252</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>敦化圓環</string>
		<key>latitude</key>
		<real>25.037807</real>
		<key>longitude</key>
		<real>121.54889</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>市政府</string>
		<key>latitude</key>
		<real>25.041142</real>
		<key>longitude</key>
		<real>121.565907</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>高雄</string>
		<key>latitude</key>
		<real>22.688034</real>
		<key>longitude</key>
		<real>120.309618</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>台北車站</string>
		<key>latitude</key>
		<real>25.046177</real>
		<key>longitude</key>
		<real>121.517547</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
